@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Container-Cadastro{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: row;
    justify-content: center;

    padding: 15px;
}

.Cadastro-form{
    width: 390px;
    background-color: #fff;
    border-radius: 8px;
    gap: 110px;

    overflow: hidden;
    padding: 77px 55px 33px 55px;
    
    box-shadow: 0 5px 10px 0 rgba(0,0,0.2);

    display: flex;
    flex-wrap: wrap;
    align-items: row;
    justify-content: center;
}

.Wrap-input{
    align-self: top;
    width: 100%;
    position: static;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.Input{
    font-size: 15px;
    color: #111;
    line-height: 1.2;
    border: #111;
    display: block;

    width: 175px;
    height: 35px;

    padding: 5px;
}