@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    margin: 0 auto;
}

.Container-login{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;
    /*background-color: #fff;*/
}

.login-form{
    width: 100%;
}

.Wrap-login{
    width: 390px;
    background-color: #fff;
    border-radius: 8px;

    overflow: hidden;
    padding: 77px 55px 33px 55px;

    box-shadow: 0 5px 10px 0 rgba(0,0,0.2);
}

.Logo{
    display: flex;
    flex: flex-row;
    gap: 10px;

    position: relative;
    top: -32px;
    left: 16px;
}

.Logo-img{
    width: 40px;
    height: 40px;

    
     
}

.Logo-title{
    display: block;
    font-size: 30px;
    color: #ffa500;
    font-weight: bold; 

    line-height: 1.2;
    text-align: center;
}

.Wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.Input{
    font-size: 15px;
    color: #111;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background-color: transparent;

    padding: 0 5px;
}

.Focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #111;
}

.Focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-transition(to left, #FFFF00, #FF8C00 );
    background: -o-transition(to left, #FFFF00, #FF8C00 );
    background: -moz-transition(to left, #FFFF00, #FF8C00 );
    background: linear-gradient(to left, #FFFF00, #FF8C00 );
}

.Focus-input::after{
    font-size: 15px;
    color: #ffa500;
    line-height: 1.2;
    

    content: attr(data-placeholder);
    

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.Input:Focus{
    outline: 0;
}

.Input:Focus + .Focus-input::after{
    top: -5px;
}

.Input:Focus + .Focus-input::before{
    width: 100%;
}

.has-val + .Focus-input::after{
    top: -15px;
}

.has-val + .Focus-input::before{
    width: 100%;
}

.Contairn-form-acess-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.Form-acess-btn{
    font-size: 15px;
    border: none;
    border-radius: 8px;
    color: #111;

    line-height: 1.2;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    
    background: -webkit-transition(to left, #FFFF00, #FF8C00 );
    background: -o-transition(to left, #FFFF00, #FF8C00 );
    background: -moz-transition(to left, #FFFF00, #FF8C00 );
    background: linear-gradient(to left, #FFFF00, #FF8C00 );
}

.Form-acess-btn::hover{
    cursor: pointer;
}

.Container-create-acount{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.txt1{
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.txt2{
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}